* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

/*------------scrollbar----------*/
html {
  font-size: 63%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: white;
}
html::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 5rem;
}
/*------------section----------*/
section {
  padding: 2rem 9%;
}

/*------------heading----------*/
.heading {
  margin: 10rem auto;
  margin-bottom: 3rem;
  background: teal;
}
.heading h1 {
  text-align: left;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.heading p {
  text-align: left;
  color: white;
  padding-top: 0.7rem;
  font-size: 2rem;
}
.heading p a {
  color: white;
}
.heading p a:hover {
  background: rgba(210, 210, 210, 0.6);
}
.title {
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
  text-align: left;
  padding: 0.1rem;
}

/*------------header----------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: white;
}

/*------------logo----------*/
.logo {
  height: 5rem;
  margin-left: 1rem;
  margin-right: auto;
  cursor: pointer;
}

/*------------navbar----------*/
.navbar ul {
  list-style: none;
}
.navbar ul li {
  position: relative;
  float: left;
}
.navbar ul li:hover ul {
  display: block;
}
.navbar ul li a {
  font-size: 1.7rem;
  color: dimgray;
  padding: 2rem;
  display: block;
}
.navbar ul li a:hover {
  background: rgba(66, 150, 100, 0.3);
}
.navbar ul li .active{
  background: rgba(66, 150, 100, 0.3);
}
.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: white;
  display: none;
}
.navbar ul li ul li {
  width: 100%;
}

/*------------navbar icons----------*/
.icons a, .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: white;
    cursor: pointer;
    -webkit-text-stroke: 0.1rem black;
}
.icons div:hover, .icons a:hover{
  -webkit-text-stroke: 0.1rem teal;
}

/*------------navbar menu option hide----------*/
#menu-buttons {
  display: none;
}

/*------------navbar search----------*/
.search-form {
    position: absolute;
    top: 115%;
    right: -105%;
    width: 50rem;
    height: 5.5rem;
    background: white;
    border-radius: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: black;
  padding: 1rem;
}
.search-form label {
    font-size: 2.2rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 0.1rem black;
}
.search-form label:hover{
  -webkit-text-stroke: 0.1rem teal;
}
.search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

/*------------button----------*/
.buttons-simple {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
}
.buttons-simple:hover {
  background: rgba(0, 127, 129, 0.4);
  color: white;
}

.buttons-home {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  background: rgba(50, 170, 150, 0.6);
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}
.buttons-home:hover {
  background: white ;
  color: rgba(50, 170, 150, 0.6);

}

/*------------home - category-men/women/kid ----------*/
.home {
  padding: 0;
  position: relative;
}
.slide {
  display: flex;
  min-height: 60vh;
  padding: 10rem 7%;
  background-size: cover !important;
  background-position: center !important;
  align-items: center;
  display: none;
}
.slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  object-position: bottom;
}

/*!*--- animation fadeIn slide(home)---------*!*/
@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
}


/*---slide text---------*/
.content span {
  color: darkslategray;
  display: block;
  font-size: 4rem;
  animation: fadeIn .4s linear .2s backwards;
}
.home .big-title {
  color: darkslategrey;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 7rem;
  animation: fadeIn .4s linear .4s backwards;
}
.content .buttons-home {
  animation: fadeIn .4s linear .6s backwards;
}

/*---slide button---------*/
.home #next-slide, .home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: darkslategrey;
  border: 0.2rem solid darkslategrey;
  background: white;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}
.home #next-slide:hover, .home #prev-slide:hover {
  background: darkslategrey;
  color: white;
}
.home #prev-slide {
  right: 10rem;
}

/*------------products----------*/

.heading-home {
  font-size: 3rem;
  color: black;
  padding-bottom: 2rem;
  text-align: center;
}
.heading-home span {
  color: teal;
}

.filter-buttons {
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.buttons {
  font-size: 1.7rem;
  color: teal;
  cursor: pointer;
}
.buttons:hover,.buttons.active {
  color: black;
}
.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.box {
  width: 26rem;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.box.hide {
  display: none;
}
.box.active {
  -webkit-animation: fadeUp .4s linear;
          animation: fadeUp .4s linear;
}
.box .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(66, 150, 100, 0.3);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: .5rem;
  transform: scale(0);
  z-index: 1;
}
.box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
}
.box:hover .icons {
  transform: scale(1);
}
.box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box:hover .image img {
  transform: scale(1.1);
}
.box .content {
  padding: 1rem 1.5rem;
}
.content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}
.content .price {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: black;
}

.box .content .stars {
  font-size: 1.7rem;
}
.box .content .stars i {
  color: gold;
}

/*------------contact us page----------*/
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
}
.contact-page .box, .row form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #333;
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
}
.row form textarea {
  height: 15rem;
  resize: none;
}
.map {
  -webkit-box-flex: 1;
  flex: 1 1 42rem;
  border-radius: .5rem;
  width: 100%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
        }

/*!*--- animation - loading---------*!*/
#loading-button {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5rem;
  width: 100%;
}
#loading-button:hover {
  background: rgba(0, 127, 129, 0.4);
  color: white;
}
#loading-button:active {
    background-color: black;
}
#loading-button .loading {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.7rem solid rgba(0,0,0, 0.2);
    border-right-color:rgba(0, 127, 129, 0.4);
    animation: loading-animation 2s linear infinite;
}
#loading-button h3 {
    margin-left:0rem;
    padding: 0rem;
}
#loading-button .loading * {
    display: none;
    justify-items: center;
}
@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/*------------login / register----------*/
.login form {
  margin: 1rem auto;
  max-width: 40rem;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  padding: 2rem;
  text-align: center;
}
.register form{
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  padding: 2rem;
  text-align: center;
}
.title-log{
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0.7rem;
}
.bank-title{
  font-size: 2rem;
  color: black;
  text-align: left;;
}
.bank-title span{
  font-size: 1.7rem;
  color: dimgray;
  text-align: left;;
}
.inputBox {
  margin: 1rem 0;
  display: flex;
  border-radius: .5rem;
  background: #eee;
  padding: .5rem 1rem;
  align-items: center;
  gap: 1rem;
}
.inputBox span {
  color: #666;
  margin-left: 1rem;
  font-size: 2rem;
}
.inputBox input {
  width: 100%;
  padding: 1rem;
  background: none;
  font-size: 1.5rem;
  color: #666;
  text-transform: none;
}
.login-option {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 0;
  margin-top: 1rem;
}
.login-option label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
.login-option a {
  font-size: 1.5rem;
  color: #666;
  margin-left: auto;
}
.login-option a:hover {
  color: teal;
}
.login form input[type="submit"] {
  background: black;
  color: white;
}
.login form input[type="submit"]:hover{
  background: rgba(0, 127, 129, 0.4);
}
.login .buttons-simple, .register .buttons-simple {
  text-align: center;
  width: 100%;
}
.buttons-pass{
  font-size: 2rem;
  margin-left: -8rem;
  cursor: pointer
}

/*------------about us----------*/
.about{
  padding: 0rem;
}
.banner {
  display: flex;
  min-height: 60vh;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: center !important;
  align-items: center;
}
.banner .big-title {
  color: darkslategrey;
  text-transform: lowercase;
  font-size: 3rem;
  background:rgba(240, 240, 240, 0.7) ;
  animation: fadeIn .4s linear .4s backwards;
  word-wrap: break-word;
}
.about .title-log, .about .title{
margin-left: 5rem;
}
.title1{
  color: black;
  text-transform: lowercase;
  font-size: 3rem;
  text-align: center;
}
.step span {
  color: black;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.banner .content span {
  background:rgba(240, 240, 240, 0.5) ;
  font-size: 6rem;
}
.about .image{
  max-width: 100%;
  height: auto;
  display: flex;
  padding: 0.4rem 4%;
}
.about .box-container {
  padding: 3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}
.banner-down{
  display: flex;
  min-height: 18vh;
  justify-content: center;
  position: relative;
}

.buttons-simple-two{
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: white;
  border: 0.2rem solid white;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
}
.buttons-simple-two:hover {
  background: white;
  color: teal;
}

/*------------seller----------*/
.seller .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.seller .box {
  border-radius: .5rem;
  overflow: hidden;
  border: 0.2rem solid #333;
}
.seller .box .icons {
  all: unset;
}
.seller .image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.seller .content h3 {
  font-size: 2rem;
  color: black;
  line-height: 2;
}
.seller p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: dimgrey;
  padding: 1rem 0;
}
.seller .icons {
  border-top: 0.2rem solid dimgrey;
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*------------cart----------*/
.cart .box-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;

}
.cart .box {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  block-size: fit-content;
}
.cart .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #666;
}
.cart .fa-times:hover {
  color: red;
}
.cart .box img {
  height: 15rem;
}
.cart .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: black;;
}
.cart .content form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.cart .content form span {
  color: #666;
  font-size: 1.5rem;
}
.cart .content form input {
  width: 8rem;
  font-size: 1.5rem;
  color: #666;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #eee;
}
.cart .price {
  font-size: 2rem;
  color: black;
}
.cart-total {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
}
.cart-total h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}
.cart-total h3 span {
  color: darkslategrey;
}


/*------------item----------*/
.item .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
}
.item .product-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center ;
    font-size: 3rem;
    line-height: 2.4rem;
    letter-spacing: -0.02rem;
}
.item .product-rating{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.item .fa-star{
  color:gold;
  font-size: 1.7rem;
}
.item .review{
    color: gray;
    font-size: 1.4rem;
}
.item .product-price{
    display: flex;
    position: relative;
    margin: 4rem 0;
    justify-content: center;
    font-size: 3rem;
}
.product-details{
    margin: 1rem 0;
    text-align: center ;
}
.item p{
    margin: 5px 0;
    font-size: 2rem;
    line-height: 2rem;
}
.item h4{
    font-size: 2.5rem;
    text-align: center ;
}
.size-layout{
    margin: 1.3rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.item .size-input{
    display: none;
}
.item .size{
    background: lightgray;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    margin-left: 0rem;
    font-size: 2rem;
    cursor: pointer;
}
.item .size:hover{
    border: 2px solid black;
}
.item .size-layout input[type="radio"]:checked + .size{
    background-color: black;
    border: 0.2rem solid lightgray;
    color: lightgray;
}

/*------------store----------*/
.store h1{
  font-size: 2.5rem;
  color: black;
  padding-bottom: 0.7rem;
  text-align: center;
}
.store .stars{
  display: flex;
  font-size: 2rem;
  padding-bottom: 1rem;
  justify-content: center ;
}
.store .box-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;

}
.store .box {
  border-radius: 0.5rem;
  border: 0.2rem solid #333;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  block-size: fit-content;
}
.store .box img {
  height: 15rem;
}
.store .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: black;;
}
.store .content form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.store .content form span {
  color: #666;
  font-size: 1.5rem;
}
.store .content form input {
  width: 8rem;
  font-size: 1.5rem;
  color: #666;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #eee;
}
.store .price {
  font-size: 2rem;
  color: black;
}

/*------------footer----------*/
.footer .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.box-footer h3 {
  font-size: 2.2rem;
  color: black;
  padding: 1rem 0;
}
.box-footer a {
  display: inline-block;
  font-size: 2rem;
  color: black;
  padding: 2rem 0;
}
.box-footer a:hover {
  background: rgba(66, 150, 100, 0.3);
}
.box-footer a:hover i {
  padding-right: 2rem;
}
.box-footer a i {
  color:darkslategrey;
  padding-right: .5rem;
}
.footer .share {
  padding-top: 2rem;
  text-align: center;
}
.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: darkslategrey;
  color: white;
  margin: .3rem;
}
.footer .share a:hover {
  background: #130f40;
  /*-webkit-transform: rotate(360deg);*/
          transform: rotate(360deg);
}

/*------------page size----------*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0.2rem;
  }
  section {
    padding: 2rem;
  }

}

@media (max-width: 760px) {
  #menu-buttons {
    display: inline-block;
  }

  .header {
    padding: 2rem;
  }

  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);*/
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar ul li {
    width: 100%;
  }

  .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  .navbar ul li ul li a {
    padding-left: 4rem;
  }


}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }

}





/*-- import fonts from google --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
